{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "node": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true}],
    "no-console": "off"
  }
}
